<%= form_with model: @vacancies, local: true do |f|%>
  <div class="field">
    <%= f.label :room_number, "部屋番号" %><br />
    <%= f.text_field :room_number, id:"room_number" %>
    <%="号室"%>
  </div>

  <div class="field">
    <%= f.label :deadline, "退去予定日もしくは入居可能日" %><br />
    <%= f.text_field :deadline, class: :form__text, id:"deadline" %>
  </div>

    <div class="field">
    <%= f.label :floor_plan, "間取り" %><br />
    <%= f.text_field :floor_plan,class: :form__text, id:"floor_plan" %>
  </div>
    
  <div class="field">
    <%= f.label :deposit, "敷金" %><br />
    <%= f.text_field :deposit, id:"deposit"%>
    <%="円"%>
  </div>

  <div class="field">
    <%= f.label :rent, "家賃" %><br />
    <%= f.text_field :rent, id:"rent"%>
    <%="円"%>
  </div>  
  
  <div class="field">
    <%= f.label :service_fee, "礼金" %><br />
    <%= f.text_field :service_fee, id:"service_fee"%>
    <%="円"%>
  </div>

  <div class="field">
    <%= f.label :membership_fee, "町内会費" %><br />
    <%= f.text_field :membership_fee, id:"membership_fee"%>
    <%="円"%>
  </div>

  <div class="field">
    <%= f.label :image, "建物等の画像" %><br />
    <%= f.file_field :image, id:"building_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>