<%= form_with model: @vacancies, local: true do |f|%>
  <div class="field">
    <%= f.label :room_number, "部屋番号" %><br />
    <%= f.text_field :room_number, id:"room_number" %>
  </div>

  <div class="field">
    <%= f.label :deadline, "期日" %><br />
    <%= f.text_field :deadline, class: :form__text, id:"deadline" %>
  </div>

    <div class="field">
    <%= f.label :floor_plan, "間取り" %><br />
    <%= f.text_field :floor_plan, class: :form__text, id:"floor_plan" %>
  </div>
    
  <div class="field">
    <%= f.label :deposit, "敷金" %><br />
    <%= f.text_area :deposit, class: :form__text, id:"deposit"%>
  </div>

  <div class="field">
    <%= f.label :rent, "家賃" %><br />
    <%= f.text_area :rent, class: :form__text, id:"rent"%>
  </div>  
  
  <div class="field">
    <%= f.label :service_fee, "礼金" %><br />
    <%= f.text_area :service_fee, class: :form__text, id:"service_fee"%>
  </div>

  <div class="field">
    <%= f.label :membership_fee, "町内会費" %><br />
    <%= f.text_area :membership_fee, class: :form__text, id:"membership_fee"%>
  </div>

  <div class="field">
    <%= f.label :image, "建物等の画像" %><br />
    <%= f.file_field :image, id:"building_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>