<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @building.building_name %>
      </p>
      <div class="prototype__detail">
       <p class="detail__title"></p>
       <p class="detail__message">
       <%="更新日時:""#{@building.updated_at}" %>
       </p>
      </div>
  
      <%= link_to "#{@building.user.name}", users_path(@building.user), class: :prototype__user %>
      
      
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="prototype__manage">
          <%= link_to "編集する", root_path, class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">

        <%= image_tag @building.image, class: :card__img %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title"></p>
          <p class="detail__message">
            <%= "#{@building.place.name}""#{@building.address}" %>
          </p>
        </div>
        <div class="prototype__detail">
         <p class="detail__title"></p>
         <p class="detail__message">
         <%= "建物詳細" %>
         </p>
        </div>
         <div class="prototype__manage">
          <%= link_to "編集する", root_path, class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        </div>
       <div class="prototype__comments">
        <div class="prototype__detail">
          <p class="detail__title"></p>
          <p class="detail__message">
            <%= @building.building_detail%>
          </p>
        </div>
       </div>
      </div>
       <div class="prototype__detail">
        <p class="detail__title"></p>
        <p class="detail__message">
        <%= "駐車場情報" %><%= link_to "詳細ページ", root_path, class: :prototype__btn %>
        </p>
       </div>
        <div class="prototype__manage">
          <%= link_to "編集する", root_path, class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        </div>
      <div class="prototype__comments">
       <div class="prototype__detail">
        <p class="detail__title"></p>
        <p class="detail__message">
          <%= @building.building_detail%>
        </p>
       </div>
      </div>
         <div class="prototype__detail">
        <p class="detail__title"></p>
        <p class="detail__message">
        <%= "部屋情報" %><%= link_to "詳細ページ", root_path, class: :prototype__btn %>
        </p>
       </div>
        <div class="prototype__manage">
          <%= link_to "編集する", root_path, class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        </div>
      <div class="prototype__comments">
       <div class="prototype__detail">
        <p class="detail__title"></p>
        <p class="detail__message">
          <%= @building.building_detail%>
        </p>
       </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
          <%# <%= form_with model: モデル名,local: true do |f|%>
            <div class="field">
              <%# <%= f.label :hoge, "コメント" %><br />
              <%# <%= f.text_field :hoge, id:"comment_content" %>
            </div>
            <div class="actions">
              <%# <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <%# <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <%# <%= " コメントのテキスト "%>
              <%# <%= link_to "（ ユーザー名 ）", root_path, class: :comment_user %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
