<%= form_with model: @parkings, local: true do |f|%>
  <div class="field">
    <%= f.label :parking_number, "区画No." %><br />
    <%= f.text_field :parking_number, id:"parking_number" %>
  </div>

  <div class="field">
    <%= f.label :parking_fee, "駐車場料金" %><br />
    <%= f.text_field :parking_fee, id:"parking_fee" %>
  </div>
    
  <div class="field">
    <%= f.label :parking_detail, "駐車場詳細  (特記事項・注意事項)" %><br />
    <%= f.text_area :parking_detail, class: :form__text, id:"parking_detail"%>
  </div>

  <div class="field">
    <%= f.label :image, "建物等の画像" %><br />
    <%= f.file_field :image, id:"parking_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>